[client]
user=root
password={{ mysql.password }}

[mysql]
user=root
password={{ mysql.password }}

[mysqldump]
user=root
password={{ mysql.password }}

[mysqldiff]
user=root
password={{ mysql.password }}